* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}